---
import type {GetStaticPathsOptions} from 'astro';
import type {MarkdownInstance} from 'astro';
import config from '$config';
import MainLayout from '$lays/MainLayout.astro';
import Hero from '$coms/layout/Hero.astro';
import BlogPreview from '$coms/BlogPreview.astro';
import BlogSubNavigations from '$coms/BlogSubNavigations.astro';

interface SeriesProps {
  count: number;
  posts: MarkdownInstance<Record<string, unknown>>[];
}

const {series} = Astro.params;
const {count, posts} = Astro.props as SeriesProps;

const allPosts = await Astro.glob('../p/**/*.{md,mdx}');
const sortedPosts = allPosts.sort(
  (a, b) =>
    new Date(b.frontmatter.publishDate).getTime() - new Date(a.frontmatter.publishDate).getTime(),
);

export async function getStaticPaths({paginate}: GetStaticPathsOptions) {
  const allPosts = await Astro.glob('../p/**/*.{md,mdx}');
  const seriesData: {[key: string]: SeriesProps} = {};
  const seriesList: any[] = [];

  allPosts.map(post => {
    const {series} = post.frontmatter;
    if (series) {
      if (seriesData[series]) {
        seriesData[series].count = seriesData[series].count + 1;
        seriesData[series].posts.push(post);
      } else {
        seriesList.push(series);
        seriesData[series] = {
          count: 1,
          posts: [post],
        };
      }
    }
  });

  return seriesList.map(series => {
    return {params: {series: series}, props: seriesData[series]};
  });
}

const canonicalURL = Astro.url.toString();
const props = {
  wide: false,
  seo: {
    title: `Series : ${series}`,
    canonical: canonicalURL,
  },
  NavigationItems: {
    blog: {enabled: true, expanded: true},
    home: {enabled: true, expanded: false},
    portfolio: {enabled: true, expanded: false},
    rss: {enabled: false, expanded: false},
    search: {enabled: false, expanded: false},
    series: {enabled: false, expanded: false},
    theme: {enabled: true, expanded: true},
  },
};
---

<MainLayout
  config={config}
  seo={props.seo}
  NavigationItems={props.NavigationItems}
  wide={props.wide}
>
  <main class='w-full'>
    <Hero category={'Blog'} title={props.seo.title} subtitle={`${count} Posts`} />

    <div class='max-w-3xl w-full mx-auto px-5 py-4'>
      <BlogSubNavigations disabled={{series: true}} />

      <BlogPreview posts={posts} />
    </div>
  </main>
</MainLayout>
