---
import MainLayout from '$lays/MainLayout.astro';
import config from '$config';
import type {PostInstance} from '$types';

import '$styles/mainarticle.scss';
import BlogPreview from '$coms/BlogPreview.astro';
import Hero from '$coms/layout/Hero.astro';

const {title, description, avatar, social} = config;
const canonicalURL = Astro.url.toString();

const allPosts = await Astro.glob<PostInstance>('./p/**/*.{md,mdx}');
const firstPage = allPosts
  .sort(
    (a, b) =>
      new Date(b.frontmatter.publishDate).getTime() - new Date(a.frontmatter.publishDate).getTime(),
  )
  .slice(0, 3);

const about = (await Astro.glob('/content/about.md'))[0];
const props = {
  wide: false,
  seo: {
    title: title,
    description: description,
    canonical: canonicalURL,
  },
  NavigationItems: {
    blog: {enabled: true, expanded: true},
    home: {enabled: false, expanded: false},
    portfolio: {enabled: true, expanded: true},
    rss: {enabled: true, expanded: false},
    search: {enabled: false, expanded: true},
    series: {enabled: false, expanded: true},
    theme: {enabled: true, expanded: false},
  },
};
---

<MainLayout
  config={config}
  seo={props.seo}
  NavigationItems={props.NavigationItems}
  wide={props.wide}
>
  <main class='w-full'>
    <Hero category={''} title={config.author.name} subtitle={about.frontmatter.description} />

    <div class='flex flex-col'>
      <article
        set:html={about.compiledContent()}
        id='article-content'
        class='max-w-3xl w-full mx-auto px-5 pt-8 pb-32'
      />
    </div>

    {/* latest posts */}
    <div class='max-w-3xl w-full mx-auto px-5 py-4'>
      <div>
        <h3>Last 3 Articles</h3>

        <BlogPreview posts={firstPage} />
      </div>
    </div>
  </main>
</MainLayout>
