---
import MainLayout from '$lays/MainLayout.astro';
import Search from '$coms/Search';
import {file2slug} from 'src/utils/file2slug';
import BlogSearch from 'src/utils/BlogSearch';
import config from '$config';
import Hero from '$coms/layout/Hero.astro';
import BlogSubNavigations from '$coms/BlogSubNavigations.astro';

let allPosts = await Astro.glob('./p/**/*.{md,mdx}');
const posts = allPosts.map(p => {
  return {
    id: file2slug(p.file, 'p/blog'),
    title: p.frontmatter.title,
    description: p.frontmatter?.description || '',
    tags: p.frontmatter?.tags || [],
  };
});

await BlogSearch({posts});
const flexSearchIndexKeys = [
  'reg',
  'title.cfg',
  'title.map',
  'title.ctx',
  'tags.cfg',
  'tags.map',
  'tags.ctx',
  'description.cfg',
  'description.map',
  'description.ctx',
  'tag',
  'store',
];

const canonicalURL = Astro.url.toString();
const props = {
  wide: false,
  seo: {
    title: 'Search',
    canonical: canonicalURL,
  },
  NavigationItems: {
    blog: {enabled: true, expanded: true},
    home: {enabled: true, expanded: false},
    portfolio: {enabled: true, expanded: false},
    rss: {enabled: false, expanded: false},
    search: {enabled: false, expanded: true},
    series: {enabled: false, expanded: false},
    theme: {enabled: true, expanded: false},
  },
};
---

<MainLayout
  config={config}
  seo={props.seo}
  NavigationItems={props.NavigationItems}
  wide={props.wide}
>
  <main class='w-full'>
    <Hero
      category={'Blog'}
      title={'Find posts'}
      subtitle={'Search fields: title, description, tags'}
    />

    <div class='max-w-3xl w-full mx-auto px-5 py-4'>
      <BlogSubNavigations disabled={{search: true}} />

      <Search client:load keys={flexSearchIndexKeys} />
    </div>
  </main>
</MainLayout>
