---
import type {GetStaticPathsOptions} from 'astro';
import Pagination from '$coms/Pagination.astro';
import MainLayout from '$lays/MainLayout.astro';
import BlogPreview from '$coms/blog/BlogPreview.astro';
import BlogSubNavigations from '$coms/blog/SubNavigations.astro';
import Hero from '$coms/layout/Hero.astro';
import config from '$config';

export interface Props {}

export async function getStaticPaths({paginate}: GetStaticPathsOptions) {
  const allPosts = await Astro.glob('../../p/**/*.{md,mdx}');
  const allTagsSet = new Set();

  allPosts.map(post => {
    const tags = post.frontmatter.tags || [];
    tags.map(tag => allTagsSet.add(tag));
  });

  return Array.from(allTagsSet).map(tag => {
    const filteredPosts = allPosts
      .filter(post => {
        // console.debug({ tags: post.frontmatter.tags });
        return post.frontmatter.tags?.includes(tag);
      })
      .sort(
        (a, b) =>
          new Date(b.frontmatter.publishDate).getTime() -
          new Date(a.frontmatter.publishDate).getTime(),
      );

    return paginate(filteredPosts, {
      params: {tag},
      pageSize: 7,
    });
  });
}
// page
const {page} = Astro.props;
const {tag} = Astro.params;

const canonicalURL = Astro.url.toString();
const props = {
  wide: false,
  seo: {
    title: `TAG: ${tag}`,
    canonical: canonicalURL,
  },
  NavigationItems: {
    blog: {enabled: true, expanded: true},
    home: {enabled: true, expanded: false},
    portfolio: {enabled: true, expanded: false},
    rss: {enabled: false, expanded: false},
    search: {enabled: false, expanded: false},
    series: {enabled: false, expanded: false},
    theme: {enabled: true, expanded: true},
  },
};
---

<MainLayout
  config={config}
  seo={props.seo}
  NavigationItems={props.NavigationItems}
  wide={props.wide}
>
  <main class='w-full'>
    <Hero
      category={'Blog'}
      title={`Articles tagged #${tag}`}
      subtitle={`${page.start + 1}–${page.end + 1} of ${page.total}`}
    />

    <div class='max-w-3xl w-full mx-auto px-5 py-4'>
      <BlogSubNavigations disabled={{}} />

      <BlogPreview posts={page.data} />

      <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
    </div>
  </main>
</MainLayout>
