---
import {Image} from '@astrojs/image/components';
import type {AvatarConfigType} from '$types';
import {User3Line} from '$coms/icons';
import {classes} from '$utils';

export interface Props {
  avatar: AvatarConfigType;
  name: string;
  href?: string;
  description?: string;
}

const {avatar, name, href = '', description = ''} = Astro.props as Props;
---

<div
  class={classes(
    'px-2 py-4 flex items-center justify-start gap-4 min-[320px]:flex-row flex-col ',
    'border-y border-zinc-300 dark:border-zinc-700',
  )}
>
  {/* Avatar  */}
  <div class='flex-none md:w-11 w-8 md:h-11 h-8 overflow-hidden rounded-full object-cover'>
    {
      avatar?.enabled ? (
        <Image src={avatar.src} width={56} height={56} format='webp' alt={name} />
      ) : (
        <div class='w-full h-full bg-gray-300 flex items-center justify-center text-white md:text-3xl text-xl'>
          <User3Line />
        </div>
      )
    }
  </div>
  {/* Descriptions */}
  <div class='flex-auto flex flex-col gap-1'>
    <span class='md:text-base text-sm font-medium'>@{name}</span>
    <span class='md:text-sm text-xs'>{description}</span>
  </div>
</div>
