---
import type {GetStaticPathsOptions} from 'astro';
import Pagination from '$coms/Pagination.astro';
import config from '$config';
import MainLayout from '$lays/MainLayout.astro';
import BlogPreview from '$coms/BlogPreview.astro';
import Hero from '$coms/layout/Hero.astro';
import BlogSubNavigations from '$coms/BlogSubNavigations.astro';

export async function getStaticPaths({paginate}: GetStaticPathsOptions) {
  const allPosts = await Astro.glob('../p/**/*.{md,mdx}');
  const sortedPosts = allPosts.sort(
    (a, b) =>
      new Date(b.frontmatter.publishDate).getTime() - new Date(a.frontmatter.publishDate).getTime(),
  );
  // Return a paginated collection of paths for all posts
  return paginate(sortedPosts, {pageSize: 7});
}

const {page} = Astro.props;
const canonicalURL = Astro.url.toString();

const props = {
  wide: false,
  seo: {
    title: 'Blog',
    description: 'Blog page',
    canonical: canonicalURL,
  },
  NavigationItems: {
    blog: {enabled: true, expanded: true},
    home: {enabled: true, expanded: false},
    portfolio: {enabled: true, expanded: false},
    rss: {enabled: false, expanded: false},
    search: {enabled: false, expanded: false},
    series: {enabled: false, expanded: false},
    theme: {enabled: true, expanded: true},
  },
};
---

<MainLayout
  config={config}
  seo={props.seo}
  NavigationItems={props.NavigationItems}
  wide={props.wide}
>
  <main class='w-full'>
    <Hero
      category={'Blog'}
      title={'All Posts'}
      subtitle={`${page.start + 1}–${page.end + 1} of ${page.total}`}
    />

    <div class='max-w-3xl w-full mx-auto px-5 py-4'>
      <BlogSubNavigations disabled={{page: true}} />

      <BlogPreview posts={page.data} />

      <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
    </div>
  </main>
</MainLayout>
